.friends {
  margin-top: 30px;
  &__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    background-color: #ffffff;
    transition: all ease-out 0.3s;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 6px;
    opacity: 0.8;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &:hover {
      opacity: 1;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
  }

  &__avatar {
  }

  &__name {
  }
}
