.transaction {
  margin-top: 30px;

  &__history {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;

    & thead {
      border: 1px solid #ddd;
      border-bottom: 2em solid transparent;
    }

    & tbody {
      & tr {
        &:nth-child(even) {
          background-color: #ddd;
        }
      }

      & td {
        border: 1px solid #ddd;
        padding: 8px;
      }
    }
  }
}
