.transaction {
  margin-top: 30px;

  &__history {
    width: 100%;
    text-align: center;
    & tbody {
      padding-top: 30px;
    }

    & tr {
      padding-top: 15px;
    }

    & td {
    }
  }
}
